canvas .text {
	color : rgb(221, 221, 221);
}

canvas .openTag, canvas .closeTag {
	color : #20BBE6;
}

canvas .tagBody {
	color : rgb(129, 151, 191);
}

canvas .comment, canvas .doctype {
	color : #84bfef;
}

canvas .doubleQuotedString, canvas .singleQuotedString {
	color : #09B027;
}

canvas .attribute {
	color : rgb(285, 187, 100);
}
