canvas .text {
	color : rgb(221, 221, 221);
}

canvas .openTag, canvas .closeTag {
	color : rgb(250, 191, 96);
}

canvas .tagBody {
	color : rgb(129, 151, 191);
}

canvas .comment, canvas .doctype {
	color : rgb(114, 114, 114);
}

canvas .doubleQuotedString, canvas .singleQuotedString {
	color : rgb(85, 100, 68);
}

canvas .attribute {
	color : rgb(285, 187, 100);
}

